.about-page {
  .introduction {
    background-size: cover !important;
    padding-bottom: 32px;
    padding-top: 40px;

    // header
    &__header {
      line-height: 0.89;
      font-size: 123px;
    }

    // description
    &__description {
      p {
        letter-spacing: -0.45px;
        color: var(--steel);
        line-height: 1.88;
      }
    }
  }

  // loyal customers
  .loyal {
    background-color: var(--primary-950);
    padding-bottom: 72px;

    // stats
    &__stats {
      background-color: var(--default);
      flex-direction: column;
      margin-bottom: 72px;
      padding: 56px 0px;
      display: flex;
      width: 100%;

      &__stat {
        margin-bottom: 72px;
        text-align: center;
        color: #fff;

        &:last-child {
          margin-bottom: 0px;
        }

        .number {
          margin-bottom: 8px;
          font-weight: 500;
          font-size: 44px;
        }

        .desc {
          letter-spacing: -0.45px;
          line-height: 1.5;
          font-size: 16px;
          opacity: 0.5;
          margin: 0px;
        }
      }
    }
  }

  .press-assets {
    padding-top: 72px;
    padding-bottom: 96px;
    background-size: cover;

    .container {
      max-width: 885px !important;
    }

    &__socials {
      margin-top: 88px;

      .items {
        margin-top: 24px;

        .item {
          align-items: center;
          margin-bottom: 32px;
          border-radius: 8px;
          padding: 0px 16px;
          display: flex;
          width: 220px;
          height: 60px;

          img {
            margin-right: 20px;
            height: 40px;
            width: 40px;
          }

          span {
            color: #fff;
            line-height: 1.5;
          }

          &--facebook {
            @extend .item;
            background-color: #1578f2;
          }

          &--twitter {
            @extend .item;
            background-color: #1da1f2;

            img {
              height: 30.5px;
              width: 37.5px;
            }
          }

          &--instagram {
            @extend .item;
            background-image: linear-gradient(124deg, #b900b4, #f50000);
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  // tablet screens and above
  @media (min-width: 768px) {
    .introduction {
      padding-bottom: 80px;
    }

    .loyal {
      &__stats {
        flex-direction: row;
        justify-content: center;

        &__stat {
          margin-right: 65px;
          margin-bottom: 0px;
          margin-left: 65px;
        }
      }
    }

    .press-assets {
      padding-bottom: 112px;
      padding-top: 80px;

      &__socials {
        margin-top: 112px;

        .items {
          justify-content: space-between;
          margin-top: 40px;
          display: flex;

          .item {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  // large screens and above
  @media (min-width: 1200px) {
    .introduction {
      padding-bottom: 300px;

      &__header {
        font-size: 231px;
      }
    }

    .loyal {
      padding-bottom: 118px;
      position: relative;
      padding-top: 220px;

      &__stats {
        box-shadow: 0 5px 6px 0 rgba(6, 31, 60, 0.08);
        top: calc(-188px / 2);
        border-radius: 17px;
        position: absolute;
        margin-right: auto;
        margin-left: auto;
        width: 1045px;
        right: 0;
        left: 0;

        &__stat {
          margin-right: 80px;
          margin-left: 80px;
        }
      }
    }

    .press-assets {
      padding-top: 190px;
      padding-bottom: 316px;

      &__socials {
        margin-top: 245px;

        .items {
          margin-top: 64px;
        }
      }
    }
  }
}