// shared classes
%read-more {
  text-decoration: none;
  align-items: center;
  margin-top: 16px;
  font-weight: 500;
  display: flex;

  i {
    margin-left: 4px;
    font-size: 16px;
    display: block;
  }
}

%category {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
}

.blogs-page {
  .blogs {
    &__heading {
      padding: 64px 16px;
      position: relative;

      h1 {
        color: var(--default);
        text-align: center;
        font-weight: 600;
        font-size: 24px;
      }
    }

    &__posts {
      background-color: var(--primary-950);
      padding-bottom: 32px;
      padding-top: 32px;

      .blog-spacing {
        margin-bottom: 32px;

        &:last-child {
          margin-bottom: 0px;
        }
      }

      &__big-post {
        .img {
          background-repeat: no-repeat;
          background-position: center;
          justify-content: center;
          background-size: cover;
          align-items: center;
          position: relative;
          display: flex;
        }

        .content-container {
          padding: 24px 16px;

          .content {
            &__category {
              @extend %category;
            }

            &__title {
              margin-bottom: 8px;
              font-weight: 500;
              font-size: 24px;
            }

            &__body {
              border-bottom: solid 1px var(--pale-white);
              padding-bottom: 24px;
              margin-bottom: 0px;
              color: var(--steel);
              line-height: 1.5;
            }

            &__link {
              @extend %read-more;
            }
          }
        }
      }

      &__small-post {
        .content {
          padding: 24px;

          &__category {
            @extend %category;
          }

          &__title {
            margin-bottom: 16px;
            font-weight: 500;
            font-size: 24px;
          }

          &__author {
            align-items: center;
            color: var(--steel);
            display: flex;

            border-bottom: solid 1px var(--pale-white);
            padding-bottom: 18px;
          }

          &__link {
            @extend %read-more;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .blogs {
      &__heading {
        padding-bottom: 80px;
        padding-top: 80px;
      }

      &__posts {
        padding-bottom: 64px;
        padding-top: 64px;

        .blog-spacing {
          margin-bottom: 64px;
        }

        &__big-post {
          .card-body {
            display: flex;

            .img {
              overflow: hidden;
              width: 50%;
            }

            .content-container {
              align-items: center;
              padding: 32px;
              display: flex;
              width: 50%;

              .content {
                &__body {
                  padding-bottom: 48px;
                }

                &__link {
                  margin-top: 32px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    .blogs {
      &__posts {
        padding-bottom: 80px;
        padding-top: 80px;

        .blog-spacing {
          margin-bottom: 80px;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .blogs {
      &__posts {
        &__big-post {
          height: 475px;
        }
      }
    }
  }
}