.page-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.paragraph {
    margin-bottom: 40px;
}

.paragraph .header {
    opacity: 0.8;
}

.paragraph .text {
    line-height: 1.5;
}

@media(min-width: 768px) {
    .page-container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.user-agreement-page {
    .paragraph li {
        padding-top: 12px;
    }

    ol ol,
    ol ul,
    ol {
        margin-bottom: 0.5rem;
    }

    ol.list-numerals {
        list-style-type: lower-roman;
    }

    .subhead {
        display: block;
        margin-bottom: 0.3rem;
        font-weight: 500;
        color: #061f3c;
        /* black-text */
    }

    @media(min-width: 768px) {
        .page-container {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
}