.introduction {
  padding-bottom: 64px;
  padding-top: 64px;

  // background particles
  &__particles {
    background-image: url("/svgs/swoosh-particles.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    min-height: 430px;
    width: 100%;
    left: 0px;
    top: 0px;
  }

  &__image {
    display: none;
  }

  &__content {
    .btn {
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    & {
      padding-top: 40px;
      padding-bottom: 56px;

      &__particles {
        max-width: 415px;
        min-height: 388px;
        top: 40px;
        right: 0;
        left: auto;
      }

      &__image {
        display: block;

        img {
          max-width: 340px;
          max-height: 320px;
        }
      }

      &__content {
        .btn {
          max-width: 315px;
        }

        &__description {
          max-width: 420px;
          line-height: 1.6;
        }
      }
    }
  }

  @media (min-width: 992px) {
    & {
      padding-top: 75px;
      padding-bottom: 160px;

      &__particles {
        max-width: 530px;
        min-height: 480px;
        right: 0px;
        top: 40px;
      }

      &__image {
        display: block;

        img {
          max-width: 420px;
          max-height: 400px;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    & {
      .particle-container {
        position: relative;
        padding: 0px;
      }
      &__particles {
        max-width: 690px;
        min-height: 615px;
        right: -45px;
        top: -50px;
      }

      &__image {
        img {
          max-width: 545px;
          max-height: 520px;
        }
      }
    }
  }
}
