.introduction {
  padding-top: 56px;
  overflow: hidden;

  &__image {
    background-color: var(--default);
    padding-right: 0px;
    padding: 24px;
    height: 550px;

    img {
      height: 100%;
    }
  }

  &__info {
    margin-bottom: 100px;

    &__header {
      letter-spacing: -1.28px;
      margin-bottom: 40px;
      line-height: 1.2;
      font-size: 36px;
    }

    &__button-container {
      button {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .introduction {
    position: relative;
    padding-top: 0px;

    &__background {
      background: var(--default);
      position: absolute;
      height: 100%;
      width: 50%;
      right: 0;
      top: 0;
    }

    &__info {
      margin-bottom: 0px;
    }
  }
}

@media (min-width: 992px) {
  .introduction {
    &__image {
      height: 670px;
    }

    &__info {
      &__header {
        margin-bottom: 64px;
        font-size: 44px;
      }

      &__button-container {
        button {
          width: 320px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .introduction {
    &__background {
      width: 41.67%;
    }
  }
}