.separator {
  background-color: var(--black);
  padding-bottom: 56px;
  padding-top: 56px;

  &__content {
    max-width: 586px;
    margin: 0px auto;

    &__question {
      border: solid 2px var(--primary-950);
      margin: 0px auto 24px auto;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      display: flex;
      height: 52px;
      width: 52px;

      span {
        font-size: 24px;
        color: var(--primary-950);
      }
    }

    &__content {
      .header {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 18px;
        color: #fff;
      }

      .desc {
        color: var(--steel);
        margin-bottom: 0px;
        line-height: 1.75;
      }
    }
  }
}